body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.candyAttr { 
  background-color: aquamarine; 
  width: 120px; 
} 

.title {
  background-color:aquamarine;
  text-align: center;
  font-style: normal;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
 }

 .heading {
  background-color:burlywood;
  width: 100%;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: larger;
 }